:root {
    --footer-height: 80px;
    --footer-logo-height: 48px;
    --footer-padding-y: 0.5rem;
    --footer-padding-x: 2rem;
}

#observablehq-footer {
    min-height: var(--footer-height);
    height: var(--footer-height);
    z-index: 10;
    position: relative;
    margin-bottom: 0;
}

.footer-content {
    background: black;
    color: white;
    padding: var(--footer-padding-y) var(--footer-padding-x);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: 100%;
    box-sizing: border-box;
}

#observablehq-sidebar-toggle:checked ~ #observablehq-center #observablehq-footer .footer-content,
#observablehq-sidebar-toggle:indeterminate ~ #observablehq-center #observablehq-footer .footer-content {
    margin-left: calc(-1 * var(--observablehq-inset-left)) !important;
}

.footer-text {
    text-align: right;
    font: var(--font-small);
    color: white !important;
}

.footer-text p {
    margin: 0;
    line-height: 1.2;
    color: white !important;
}