:root {
    --header-height: 4.5rem;
    --header-padding-x: 1rem;
    --sidebar-top: var(--header-height);
}


#header-content {
    background: black;
    color: white;
    height: var(--header-height);
    padding: 0 var(--header-padding-x);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-sizing: border-box;
    border-bottom: none;
    box-shadow: none;
}

header#observablehq-header,
#header-content {
    transition: top 0.5s ease;
}

body.hide-header {
    padding-top: 0;
}

/* Hide header on scroll */
body.hide-header header#observablehq-header,
body.hide-header #header-content {
    top: calc(-1 * var(--header-height));
}

/* Sidebar position should match header height */
body #observablehq-sidebar {
    top: var(--sidebar-top);
    transition: top 0.5s ease !important;
}

body.hide-header #observablehq-sidebar {
    top: 0;
}

#header-content  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    text-decoration: none;
    font: var(--font-small);
    font-weight: 600;
}

.header-page-title {
    font: var(--font-small);
    font-weight: 500;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: solid 1px white;
    padding-left: .5rem;
    transform: translateY(-1px);
}

#header-content  svg,
#header-content .external-arrow {
    flex-shrink: 0;
}

#header-content svg {
    height: 3rem;
    width: auto;
}

#header-content .external-arrow {
    height: 1.1rem;
    width: auto;
}
