#observablehq-main
{
    margin: calc(var(--header-height) + 3rem) 2rem 1rem !important; /*margin: 1rem auto;*/
}

#observablehq-center {
    margin: 0 !important; /*margin: 2rem;*/
}

@media (min-width: calc(640px + 6rem + 272px)) {
    #observablehq-sidebar-toggle:checked ~ #observablehq-center,
    #observablehq-sidebar-toggle:indeterminate ~ #observablehq-center {
        --observablehq-inset-left: 272px; /*--observablehq-inset-left: calc(272px + 1rem);*/
        padding-right: 0 !important; /*padding-right: 1rem;*/
    }
}

#observablehq-header {
    border-bottom: none !important;
    /*padding-bottom: 0;*/
}

#observablehq-footer nav {
    margin: 0 auto 3rem !important; /*margin-bottom: 1rem;*/
}

#observablehq-footer {
    margin-top: 6rem !important; /*margin-top: 10rem;*/
}

@media (min-width: calc(1200px + 4rem)) {
    #observablehq-main {
        max-width: 1200px;
        margin: calc(var(--header-height) + 3rem) auto 1rem !important;
    }
}