:root {
    --sans-serif: "Inter", "Helvetica Neue", helvetica, sans-serif;
    --serif: Georgia, serif;
    --monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

    --font-big: 900 2.25rem/1.2 var(--sans-serif);
    --font-heading-lg: 800 1.5rem/1.3 var(--sans-serif);
    --font-heading-md: 700 1.25rem/1.3 var(--sans-serif);
    --font-heading-sm: 700 1.125rem/1.3 var(--sans-serif);
    --font-body: 400 1rem/1.7 var(--sans-serif);
    --font-small: 400 0.875rem/1.6 var(--sans-serif);

    --observablehq-max-width: 100vw;
    --observablehq-header-height: 3rem;
    --observablehq-footer-height: 3rem;
}
